<body>

    <div class="mobile only tablet only new-button">
         <div class="ui primary huge fluid button">
            <%= link_to 'Report New Incident', new_incident_path %>
        </div>
    </div>

    <p id="notice"><%= notice %></p>

    <div class="ui container">

        <div class="ui tablet or lower hidden top attached tabular page-type menu">
            <a class="item" id="all" href=<%= incidents_path %>>
                <span class="">All Incidents</span>
            </a>
            <%= reported_incidents_link %>
            <%= resolvable_incidents_link %>
            <%= archives_link %>

            <div class="right menu">
                <div class="item">
                    <%= link_to 'Report New Incident', new_incident_path %>
                </div>
            </div>
        </div>

        <div class="ui mobile only tablet only four item top attached tabular page-type menu">
             <a class="item" href="/">
                <span class="">All Incidents</span>
            </a>
            <%= reported_incidents_link %>
            <%= resolvable_incidents_link %>
            <%= archives_link %>
        </div>

        <div class="incident page-main">

            <div id="filter-menu">
                <div class="ui clearing inverted segment">
                    <h3 class="ui left floated header">Filters</h3>
                    <div class="ui mini right floated primary button" id="clear-filters-button">Reset
                    </div>
                </div>
                <div class="ui vertical stackable text menu">
                </div> 

            </div>    

            <div class="ui middle aligned equal width stackable grid" id="incidents">

                <div class="center aligned black headers mobile or lower hidden row">

                    <div class="column">
                        <%= sortable "start_date", "Date", true %>
                    </div>

                    <div class="eight wide column">
                       <%= sortable "incident_type_id", "Description" %>
                    </div>

                    <div class="column">
                       <%= sortable "location" %>
                    </div>

                    <div class="two wide column">
                       <%= sortable "severity" %>
                    </div>
                </div>

                <div class="ui centered row" id="more-incidents">
                    <div class="ui primary fluid button">
                        <%= link_to "Load More Incidents", url_for(params.slice(:sort_by, :sort_direction))%>
                    </div>
                </div>

                <% @incidents.each do |incident| %>
                    <div class="ui segment row level-<%= incident.severity%>">
                        <div class="center aligned column">
                            <span class="date">
                            <%= incident.start_date.strftime("%b #{incident.start_date.day.ordinalize}, %Y")%>
                            <br>
                            <%= incident.start_date.strftime("%l:%M %p")%>
                            </span>
                        </div>

                        <div class="mobile only">
                            <div class="severity detail">Severity</div>
                            <div class="ui top right attached circular level-<%= incident.severity%>-background big label">
                                <%= incident.severity %>
                            </div>
                        </div>

                        <div class="left aligned eight wide column">
                            <div class="ui header">
                                <%= incident.incident_type.name %>
                            </div>
                            <div class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                        </div>

                        <div class="center aligned column">
                            <span class="mobile only field">Location: </span>
                            <%= incident.location %>
                        </div>

                        <div class="center aligned mobile or lower hidden two wide column">
                            <div class="ui circular level-<%= incident.severity%>-background big label">
                                <%= incident.severity %>
                            </div>
                        </div>
                    </div>
                <% end %>

            <%= will_paginate @incidents %>
            
            </div>  
            
        </div>  
    </div>

    <% content_for(:body) do %>
        <%= javascript_include_tag 'tabs' %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.js"></script>

        <script type="text/javascript">
            $( document ).ready(function() {
                var socket = io.connect("https://radiant-plains-47289.herokuapp.com/");
                socket.on('message', function (data) {
                    $('#more-incidents').show();
                });
            });
        </script>
    <% end %>

</body>
