<%= simple_form_for(@report_custom_comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :incident_question %>
    <%= f.input :answer %>
    <%= f.input :range_value %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
